<ion-header>
  <ion-toolbar>
    <ion-title>
      Search Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search by name or ID" (ionChange)="searchPokemon($event.detail.value || '')"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let p of displayedPokemon">
      <ion-thumbnail slot="start">
        <img [src]="p.sprites.front_default" *ngIf="p.sprites.front_default" alt="Pokemon">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ p.id }}</h2>
        <h3>{{ p.name }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>DAYANNA VALENTINA ROJAS REY E191</ion-title>
  </ion-toolbar>
</ion-footer>